.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &__city {
    margin: 2px 10px;
    font-size: 1.7rem;
  }

  &__time {
    margin: 2px 0;
    font-size: 1.2rem;
    color: rgb(82, 80, 80);

    &--sr {
      margin-right: 15px;
      color: rgb(155, 78, 51);
    }

    &--ss {
      color: rgb(48, 63, 102);
    }
  }

  &__items {
    list-style: none;
    padding: 6px;
    letter-spacing: 2px;
  }
}
