$light-gray: rgb(151, 151, 151);

.form {
  display: flex;
  justify-content: center;
  padding: 10px;

  &__box {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
  }

  &__input {
    padding: 5px;
    margin: 10px;
    height: 30px;
    width: 50%;
    border: 1px solid $light-gray;
    border-radius: 4px;

    &:hover {
      border-color: $main-color;
      box-shadow: 0 0 2px 0.5px $main-color;
    }

    &:focus {
      outline: none;
      border: 2px solid $main-color;
    }
  }

  &__btn {
    padding: 5px;
    margin: 10px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid $light-gray;
    border-radius: 5px;

    &:hover {
      border-color: $main-color;
      box-shadow: 0 0 2px 0.5px $main-color;
    }

    &:focus {
      outline: none;
      border: 2px solid $main-color;
    }
  }
}
